:root {
    --cor__do__botao: rgb(102, 61, 0);
    --cor__do__botao_expansao: rgb(196, 118, 0);
    --cor1: #000000;
    --cor2: #00296b;
    --cor3: #003f88;
    --cor4: #00509d;
    --cor5: #fdc500;
    --cor6: #ffd500;
    /* --cor1: #000000;
    --cor2: #e0e0e0;
    --cor3: #b39ddb;
    --cor4: #a8e6cf;
    --cor5: #4ba3c3;
    --cor6: #084c61;
    --cor7: #ffeb3b;
    --cor8: #ffd700;
    --cor9: #ff9800; */
}

.construtor__corfontesecundaria__seletor {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* grid-column-end: span 2; */
    /* border: 1px solid red; */
}
.corfontesecundaria__seletor__botao {
    display: inline-flex;
    flex-flow: row nowrap;
    padding-top: 2px;
    justify-content: space-evenly;
    background-color: var(--cor__do__botao);
    border-radius: 10px;
    width: 150px;
    height: 25px;
    column-gap: 8px;
    row-gap: 2px;
    cursor: pointer;
}
.corfontesecundaria__seletor__titulo {
    color: white;
}
.corfontesecundaria__seletor__expandir {
    background-color: var(--cor__do__botao_expansao);
    margin-top: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    color: white;
}
.corfontesecundaria__seletor__opcoes {
    list-style-type: none;
    display: none;
    flex-flow: column nowrap;
    row-gap: 5px;
}
/* .corfonteprimaria__seletor__opcoes__opcao {
    
} */
.seletor__opcoes__opcao__botao {
    display: inline-flex;
    background-color: var(--cor__do__botao_expansao);
    border-radius: 10px;
    border-color: var(--cor__do__botao);
    border-style: solid;
    border-width: 2px;
    width: 150px;
    height: 25px;
    cursor: pointer;
}
.seletor__opcoes__opcao__botao:hover {
    background-color: var(--cor__do__botao);
}
.opcoes__opcao__botao__corprevia1 {
    background-color: var(--cor1);
    margin-left: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.opcoes__opcao__botao__corprevia2 {
    background-color: var(--cor2);
    margin-left: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.opcoes__opcao__botao__corprevia3 {
    background-color: var(--cor3);
    margin-left: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.opcoes__opcao__botao__corprevia4 {
    background-color: var(--cor4);
    margin-left: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.opcoes__opcao__botao__corprevia5 {
    background-color: var(--cor5);
    margin-left: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.opcoes__opcao__botao__corprevia6 {
    background-color: var(--cor6);
    margin-left: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/* .opcoes__opcao__botao__corprevia7 {
    background-color: var(--cor7);
    margin-left: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.opcoes__opcao__botao__corprevia8 {
    background-color: var(--cor8);
    margin-left: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.opcoes__opcao__botao__corprevia9 {
    background-color: var(--cor9);
    margin-left: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
} */
.opcoes__opcao__botao__corcodigo {
    text-transform: uppercase;
    margin-left: 5px;
    margin-top: 2px;
    color: white;
}